/***** Settings *****/

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Colors */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$ligth-gray: #F3F3F3;
$medium-gray: #EAEAEA;
$bg-footer: #353535;

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: 375px;

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/***** Footer *****/
.footer {
    background-color: $bg-footer;
}