/***** Settings *****/

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Colors */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$quaternary: #008766;
$very-light-gray: #F6F6F6;
$light-gray: #EAEAEA;
$medium-gray: #7E7E7E;
$white: #FFFFFF;
$bg-footer: #353535;

/* Borders */
$border-radius-global: 15px;
$border-radius-top: 15px 15px 0 0;
$border-radius-bottom: 0 0 15px 15px;

/* Typography */
$content-weight: 300;
$title-weight: 700;

/* Button */
@mixin button {
    padding: 20px;
    border: none;
    background: linear-gradient($secondary, $primary);
    border-radius: 40px;
    color: $white;
    font-size: 16px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;

    .main-container {
        box-sizing: border-box;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        // align-items: center;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    h2 {
        font-weight: $title-weight;
    }

    p {
        font-weight: $content-weight;
    }

    .btn {
        margin : 30px 0;
        @include button;
    }
}


/***** Header *****/
.header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding: 15px;
    }

    .location-search {
        background-color: $light-gray;
        padding: 20px 65px;
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;

        input {
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
    }

    .fa-location-dot {
        color: #000000;
    }
}


/***** Hero *****/
.hero {
    padding: 25px;
    text-align: center;
    background-color: $very-light-gray;

    h2 {
        margin-bottom: 15px;
        padding: 10px;
    }

    p {
        font-size: 18px;
    }
}


/***** Functioning Section *****/
.functioning {
    margin: 30px 15px;

    & > h2 {
        padding: 30px 0;
    }

    .functioning-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .functioning-square {
        display: flex;
        align-items: center;
        position: relative;

        .number {
            padding: 5px 10px;
            background-color: $primary;
            border-radius: 15px;
            color: $white;
            font-weight: 500;
            position: absolute;
            top: 23px;
            left: -14px;
            font-size: 14px;
        }

        .functioning-content {
            display: flex;
            gap: 25px;
            align-items: center;
            background-color: $very-light-gray;
            padding: 25px 40px;
            border-radius: 20px;
            width: 240px;
            height: 25px;
            // box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.15);

            transition: 0.3s;

            p {
                font-weight: 500;
            }
        }

        .fa-solid {
            font-size: 1.2rem;
        }

        .fa-mobile-screen-button,
        .fa-list {
            color: $medium-gray;
        }

        .fa-store {
            color: $primary;
        }
    }
}

/*****  Restaurant Section *****/
.restaurants {
    background-color: $very-light-gray;
    padding-top: 30px;
    padding-bottom: 45px;

    & > h2 {
        padding: 16px;
    }

    .resto-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .resto-card {
            width: 340px;
            height: 251px;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 175px;
                border-radius: $border-radius-top;
            }

            .tag-new {
                background-color: $tertiary;
                color: $quaternary;
                font-weight: 500;
                padding: 8px;
                width: 65px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                position: absolute;
                right: 12px;
                top: 15px;
            }
        }

        .resto-card-content {
            background-color: $white;
            border-radius: $border-radius-bottom;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-size: 18px;
            }

            p {
                font-size: 17px;
            }

            .resto-card-text {
                line-height: 22px;
            }

            .favori {
                padding: 5px 10px;
            }

            .fa-heart {
                font-size: 25px;
            }

            .fa-solid.fa-heart {
                display: inline-block;
                background: linear-gradient($primary, $secondary);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}


/***** Footer *****/
.footer {
    background-color: $bg-footer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;

    h3,
    a {
        color: $white;
    }

    h3 {
        font-family: shrikhand;
        font-weight: 200;
        font-size: 18px;
        padding: 15px 20px;
    }

    li {
        padding: 5px 20px;
    }

    .fa-solid {
        padding-right: 10px;
    }
}