/***** Settings *****/

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Colors */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$very-light-gray: #F3F3F3;
$light-gray: #EAEAEA;
$medium-gray: #7E7E7E;
$white: #FFFFFF;
$bg-footer: #353535;

/* Borders */
$border-radius-global: 15px;
$border-radius-top: 15px 15px 0 0;
$border-radius-bottom: 0 0 15px 15px;

/* Typography */
$content-weight: 300;
$title-weight: 700;

/* Button */
@mixin button {
    padding: 20px;
    border: none;
    background: linear-gradient($secondary, $primary);
    border-radius: 40px;
    color: $white;
    font-size: 16px;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;

    .main-container {
        box-sizing: border-box;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    h2 {
        font-weight: $title-weight;
    }

    p {
        font-weight: $content-weight;
    }

    .btn {
        margin : 30px 0;
        @include button;
    }
}


/***** Header *****/
.header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding: 15px;
    }

    .location {
        background-color: $light-gray;
        padding: 30px 65px;
        width: 100%;
        gap: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-location-dot {
        color: #000000;
    }
}


/***** Hero *****/
.hero {
    padding: 25px;
    text-align: center;
    background-color: $very-light-gray;

    h2 {
        margin-bottom: 15px;
        padding: 10px;
    }

    p {
        font-size: 18px;
    }
}


/***** Functioning Section *****/
.functioning {
    margin: 30px 15px;

    & > h2 {
        padding: 30px 0;
    }

    .functioning-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .functioning-square {
        display: flex;
        align-items: center;

        .number {
            padding: 5px 10px;
            background-color: $primary;
            border-radius: 15px;
            color: $white;
            font-weight: 500;
        }

        .functioning-content {
            display: flex;
            gap: 25px;
            align-items: center;
            background-color: $very-light-gray;
            padding: 25px 40px;
            border-radius: 25px;
        }

        .fa-solid {
            font-size: 1.2rem;
        }

        .fa-mobile-screen-button,
        .fa-list {
            color: $medium-gray;
        }

        .fa-store {
            color: $primary;
        }
    }
}

/*****  Restaurant Section *****/
.restaurants {
    background-color: $very-light-gray;

    .resto-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .resto-card {
            width: 340px;
            height: 251px;

            img {
                object-fit: cover;
                width: 100%;
                height: 175px;
                border-radius: $border-radius-top;
            }
        }

        .resto-card-content {
            background-color: $white;
            border-radius: $border-radius-bottom;
        }
    }
}


/***** Footer *****/
.footer {
    background-color: $bg-footer;
}