/***** Settings *****/

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Colors */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$light-gray: #F3F3F3;
$medium-gray: #EAEAEA;
$bg-white: #FFFFFF;
$bg-footer: #353535;

/* Borders */
$border-radius-global: 15px;
$border-radius-top: 15px 15px 0 0;
$border-radius-bottom: 0 0 15px 15px;

/* Body */
body {
    font-family: 'Roboto', sans-serif;

    .main-container {
        box-sizing: border-box;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}


/***** Section Restaurant *****/
.restaurants {
    background-color: $light-gray;

    .resto-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .resto-card {
            width: 340px;
            height: 251px;

            img {
                object-fit: cover;
                width: 100%;
                height: 175px;
                border-radius: $border-radius-top;
            }
        }

        .resto-card-content {
            background-color: $bg-white;
            border-radius: $border-radius-bottom;
        }
    }
}


/***** Footer *****/
.footer {
    background-color: $bg-footer;
}