@use 'settings' as *;

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.resto-main-container {
    @media (min-width: $breakpoint-desktop) {
        background-color: $white;
    }

    .resto-main {
        padding: 32px 11px;
        margin-bottom: -56px;
        background-color: $very-light-gray;
        position: relative;
        top: -56px;
        border-radius: 40px 40px 0 0;
        overflow: hidden;

        @media (min-width: $breakpoint-large-mobile) and (max-width: $breakpoint-tablet) {
            padding: 32px;
        }

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (min-width: $breakpoint-tablet) and (max-width: 1200px) {
            padding: 32px 32px 48px 32px;
            margin-left: 64px;
            margin-right: 64px;
        }

        @media (min-width: 1201px) {
            margin: auto auto -56px auto;
            width: 1055px;
        }

        .resto-name {
            display: flex;
            align-items: center;
            gap: 11px;
            padding-bottom: 16px;

            & > h1 {
                font-family: $font-family-secondary;
                font-size: 27px;
                line-height: 32px;
                font-weight: 200;
            }

            .favorite-checkbox {
                display: none;
            }

            .favorite-label .fa-heart {
                font-size: $font-size-heart;
                padding: 0 16px;
                cursor: pointer;
                transform-origin: bottom;
            }

            @media (max-width: 1023px) {
                    .favorite-checkbox:checked + .favorite-label {
                        .fa-regular.fa-heart {
                            // @include bg-fill-heart;
                            animation: fill-bgcolor 800ms ease-in-out forwards;
                        }
                    }
                }

                @media (min-width: $breakpoint-desktop) {
                    .favorite-checkbox:hover + .favorite-label {
                        .fa-regular.fa-heart {
                            // @include bg-fill-heart;
                            animation: fill-bgcolor 800ms ease-in-out forwards;
                        }
                    }
                }
        }

        @for $i from 1 through 10 {
            .menu-category:nth-of-type(#{$i}) {
                animation-delay: 500ms * $i;
            }
        }

        .menu-category {
            padding: 16px 0;
            opacity: 0;
            transform: translateY(-160px);
            animation: appear 1000ms ease-in-out forwards;

            @media (min-width: $breakpoint-tablet) {
                min-width: 600px;
            }

            @media (min-width: $breakpoint-desktop) {
                width: 635px;
            }

            @for $i from 1 through 10 {
                .menu-category__title:nth-of-type(#{$i}) {
                    animation-delay: 500ms * $i;
                }
            }

            &__title {
                font-size: 16px;
                font-weight: $content-weight;
                padding-bottom: 5px;
                opacity: 0;
                transform: translateY(-160px);
                animation: appear 1000ms ease-in-out forwards;

                &::after {
                    content: "";
                    display: block;
                    background-color: $tertiary;
                    width: 40px;
                    height: 2.5px;
                    margin-top: 5px;
                }
            }

            @for $i from 1 through 10 {
                .menu-item:nth-child(#{$i}) {
                    animation-delay: 500ms * $i;
                }
            }

            .menu-item {
                background-color: $white;
                margin: 16px 0;
                border-radius: $border-radius-global;
                height: 70px;
                box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.15);
                overflow: hidden;
                opacity: 0;
                transform: translateY(-160px);
                animation: appear 1000ms ease-in-out forwards;

                @media (max-width: 1023px) {
                    .checkbox:checked + .check-label {
                        .menu-item__check,
                        .menu-item__price {
                            transform: translateX(0em);
                        }

                        .menu-item__title,
                        .menu-item__subtitle {
                            @include truncate;
                        }
                    }
                }

                @media (min-width: $breakpoint-desktop) {
                    .checkbox:hover + .check-label {
                        .menu-item__check,
                        .menu-item__price {
                            transform: translateX(0em);
                        }
                    }
                }

                .checkbox {
                    display: none;
                }

                .check-label {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    .menu-item__content {
                        padding: 16px 0 16px 16px;
                        flex: 1;
                        min-width: 0;
                        display: flex;
                        flex-direction: column;

                        .menu-item__title,
                        .menu-item__subtitle {
                            white-space: nowrap;

                            @media (max-width: 374px) {
                                @include truncate;
                            }
                        }

                        .menu-item__title {
                            display: block;
                            font-weight: 500;
                            font-size: 17px;
                        }

                        .menu-item__subtitle {
                            display: block;
                            font-size: 15px;
                            font-weight: 300;
                        }
                    }

                    .menu-item__price {
                        display: flex;
                        align-items: flex-end;
                        padding: 0 16px 16px 16px;
                        font-size: 15px;
                        font-weight: 600;
                        display: flex;
                        align-items: flex-end;
                        transform: translateX(4em);
                        transition: transform 300ms;
                    }

                    .menu-item__check {
                        background-color: $tertiary;
                        width: 29px;
                        padding: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: $border-radius-right;
                        transition: transform 300ms;
                        transform: translateX(4em);

                        & .fa-check {
                            background-color: $white;
                            padding: 3px;
                            border-radius: 50%;
                            color: $tertiary;
                            width: 16px;
                            height: 16px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .btn {
            margin: auto;
        }
    }
}