@use 'settings' as *;

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.resto-main-container {
    @media (min-width: $breakpoint-desktop) {
        background-color: $white;
    }

    .resto-main {
        padding: 2rem 0.7rem;
        margin-bottom: -3.5rem;
        background-color: $very-light-gray;
        position: relative;
        top: -3.5rem;
        border-radius: 40px 40px 0 0;
        overflow: hidden;

        @media (min-width: $breakpoint-large-mobile) and (max-width: $breakpoint-tablet) {
            padding: 2rem;
        }

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (min-width: $breakpoint-tablet) and (max-width: 1200px) {
            padding: 2rem 2rem 3rem 2rem;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        @media (min-width: 1201px) {
            margin: auto auto -3.5rem auto;
            width: 1055px;
        }

        .resto-name {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            padding-bottom: 1rem;

            & > h1 {
                font-family: $font-family-secondary;
                font-size: 1.7rem;
                line-height: 2rem;
                font-weight: 200;
            }

            .favorite-checkbox {
                @include display-none;
            }

            .favorite-label .fa-heart {
                font-size: 1.7rem;
                padding: 0 1rem;
                cursor: pointer;
            }

            .favorite-checkbox:checked + .favorite-label {
                .fa-regular.fa-heart {
                    @include bg-fill-heart;
                }
            }
        }

        @for $i from 1 through 10 {
            .menu-category:nth-of-type(#{$i}) {
                animation-delay: 500ms * $i;
            }
        }

        .menu-category {
            padding: 1rem 0;
            opacity: 0;
            transform: translateY(-10rem);
            animation: appear 1000ms ease-in-out forwards;

            @media (min-width: $breakpoint-tablet) {
                min-width: 600px;
            }

            @media (min-width: $breakpoint-desktop) {
                width: 635px;
            }

            @for $i from 1 through 10 {
                .menu-category__title:nth-of-type(#{$i}) {
                    animation-delay: 500ms * $i;
                }
            }

            &__title {
                font-size: 1rem;
                font-weight: $content-weight;
                padding-bottom: 0.3rem;
                opacity: 0;
                transform: translateY(-10rem);
                animation: appear 1000ms ease-in-out forwards;

                &::after {
                    content: "";
                    display: block;
                    background-color: $tertiary;
                    width: 40px;
                    height: 2.5px;
                    margin-top: 5px;
                }
            }

            @for $i from 1 through 10 {
                .menu-item:nth-child(#{$i}) {
                    animation-delay: 500ms * $i;
                }
            }

            .menu-item {
                background-color: $white;
                margin: 1rem 0;
                border-radius: $border-radius-global;
                height: 70px;
                box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.15);
                overflow: hidden;
                opacity: 0;
                transform: translateY(-10rem);
                animation: appear 1000ms ease-in-out forwards;

                @media (max-width: 1023px) {
                    .checkbox:checked + .check-label {
                        .menu-item__check,
                        .menu-item__price {
                            transform: translateX(0em);
                        }

                        .menu-item__title,
                        .menu-item__subtitle {
                            @include truncate;
                        }
                    }
                }

                @media (min-width: $breakpoint-desktop) {
                    .checkbox:hover + .check-label {
                        .menu-item__check,
                        .menu-item__price {
                            transform: translateX(0em);
                        }
                    }
                }

                .checkbox {
                    display: none;
                }

                .check-label {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    .menu-item__content {
                        padding: 1rem 0 1rem 1rem;
                        flex: 1;
                        min-width: 0;
                        display: flex;
                        flex-direction: column;

                        .menu-item__title,
                        .menu-item__subtitle {
                            white-space: nowrap;

                            @media (max-width: 374px) {
                                @include truncate;
                            }
                        }

                        .menu-item__title {
                            font-weight: 500;
                            font-size: 1.08rem;
                        }

                        .menu-item__subtitle {
                            font-size: 0.95rem;
                        }
                    }

                    .menu-item__price {
                        display: flex;
                        align-items: flex-end;
                        padding: 0 1rem 1rem 1rem;
                        font-size: 0.95rem;
                        font-weight: 600;
                        display: flex;
                        align-items: flex-end;
                        transform: translateX(4em);
                        transition: transform 300ms;
                    }

                    .menu-item__check {
                        background-color: $tertiary;
                        width: 1.8rem;
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: $border-radius-right;
                        transition: transform 300ms;
                        transform: translateX(4em);

                        & .fa-check {
                            background-color: $white;
                            padding: 0.2rem;
                            border-radius: 50%;
                            color: $tertiary;
                            width: 1rem;
                            height: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .btn {
            margin: auto;
        }
    }
}