@use 'settings' as *;

.resto-main {
    padding: 2rem 1rem;
    background-color: $very-light-gray;

    .resto-name {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        padding-bottom: 1rem;

       & > h1 {
            font-family: $font-family-secondary;
            font-size: 1.7rem;
            line-height: 2rem;
        }

        & > .fa-heart {
            font-size: 1.7rem;
            padding: 0 1rem;
        }
    }

    .menu {
        padding: 1rem 0;

        & > h2 {
            font-size: 1rem;
            font-weight: $content-weight;
            padding-bottom: 0.3rem;
        }

        & > .underline {
            background-color: $tertiary;
            width: 40px;
            height: 2.5px;
        }

        .menu-container {
            background-color: $white;
            margin: 1rem 0;
            // padding: 1rem 0 1rem 1rem;
            border-radius: $border-radius-global;

            .menu-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 70px;
                overflow: hidden;
                cursor: pointer;

                &__content {
                    padding: 1rem 0 1rem 1rem;
                    flex: 1; // à voir si je garde cette propriété
                    min-width: 0;
                    overflow: hidden;

                    .menu-card__title,
                    .menu-card__subtitle {
                        @include truncate;
                    }

                    .menu-card__title {
                        font-weight: $card-title-weight;
                        font-size: 1.1rem;
                    }

                    .menu-card__subtitle {
                        font-size: 0.95rem;
                    }
                }

                &__price {
                    padding: 0 1rem 2rem 1rem;
                    font-size: 0.95rem;
                    font-weight: $title-weight;
                    display: flex;
                    align-items: flex-end;
                    height: 70px;
                }

                &__check {
                    background-color: $tertiary;
                    width: 2rem;
                    height: 2.3rem;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: $border-radius-right;

                    .fa-check {
                        background-color: $white;
                        padding: 0.2rem;
                        border-radius: 50%;
                        color: $tertiary;
                        width: 1rem;
                        height: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    .btn {
        margin: auto;
    }
}