@use 'settings' as *;

.resto-main-container {
    background-color: $very-light-gray;

    .resto-main {
        padding: 2rem 0.7rem;
        background-color: $very-light-gray;
        position: relative;
        top: -3rem;
        border-radius: 50px 50px 0 0;

        .resto-name {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            padding-bottom: 1rem;

        & > h1 {
                font-family: $font-family-secondary;
                font-size: 1.7rem;
                line-height: 2rem;
            }

            & > .fa-heart {
                font-size: 1.7rem;
                padding: 0 1rem;
            }
        }

        .menu {
            padding: 1rem 0;

            & > h2 {
                font-size: 1rem;
                font-weight: $content-weight;
                padding-bottom: 0.3rem;
            }

            & > .underline {
                background-color: $tertiary;
                width: 40px;
                height: 2.5px;
            }

            .menu-container {
                background-color: $white;
                margin: 1rem 0;
                border-radius: $border-radius-global;
                display: flex;
                height: 70px;
                overflow: hidden;
                cursor: pointer;

                .checkbox {
                    display: none;
                }

                .check-label {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    .menu-card__content {
                        padding: 1rem 0 1rem 1rem;
                        flex: 1;
                        min-width: 0;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;

                        .menu-card__title {
                            font-weight: 500;
                            font-size: 1.1rem;
                            @include truncate;
                        }

                        .menu-card__subtitle {
                            @include truncate;
                        }
                    }

                    .menu-card__price {
                        display: flex;
                        align-items: flex-end;
                        padding: 0 1rem 1rem 1rem;
                        font-size: 0.95rem;
                        font-weight: $title-weight;
                        display: flex;
                        align-items: flex-end;
                        transform: translateX(4em);
                        transition: transform 300ms;
                    }

                    .menu-card__check {
                        background-color: $tertiary;
                        width: 2rem;
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: $border-radius-right;
                        transition: transform 300ms;
                        transform: translateX(4em);

                        & .fa-check {
                            background-color: $white;
                            padding: 0.2rem;
                            border-radius: 50%;
                            color: $tertiary;
                            width: 1rem;
                            height: 1rem;
                            text-align: center;
                        }
                    }
                }

                .checkbox:checked + .check-label {
                    .menu-card__check,
                    .menu-card__price {
                        transform: translateX(0em);
                    }
                }
            }
        }

        .btn {
            margin: auto;
        }
    }
}

