@use 'settings' as *;

@keyframes translateY {
    0% {
        visibility: hidden;
        transform: translateY(-3rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

@keyframes translateX {
    0% {
        visibility: hidden;
        // transform: translateX(24rem); jusqu'à 375px
        // transform: translateX(40rem); jusqu'à 768px
        transform: translateX(var(--translate-x));
    }

    100% {
        transform: translateX(0rem);
    }
}

.resto-main-container {
    @media (min-width: $breakpoint-desktop) {
        background-color: $white;
    }

    .resto-main {
        padding: 2rem 0.7rem;
        margin-bottom: -3.5rem;
        background-color: $very-light-gray;
        position: relative;
        top: -3.5rem;
        border-radius: 40px 40px 0 0;
        overflow: hidden;

        @media (min-width: $breakpoint-large-mobile) and (max-width: $breakpoint-tablet) {
            padding: 2rem;
        }

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (min-width: $breakpoint-tablet) and (max-width: 1200px) {
            padding: 2rem 2rem 3rem 2rem;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        @media (min-width: 1201px) {
            margin: auto auto -3.5rem auto;
            width: 1055px;
        }

        .resto-name {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            padding-bottom: 1rem;

            & > h1 {
                font-family: $font-family-secondary;
                font-size: 1.7rem;
                line-height: 2rem;
                font-weight: 200;
            }

            .favorite-checkbox {
                @include display-none;
            }

            .favorite-label .fa-heart {
                font-size: 1.7rem;
                padding: 0 1rem;
                cursor: pointer;
            }

            .favorite-checkbox:checked + .favorite-label {
                .fa-regular.fa-heart {
                    @include bg-fill-heart;
                }
            }
        }

        .title-container {
            overflow: hidden;
        }

        .starters-title,
        .plats-title,
        .desserts-title {
            animation: translateY 1200ms ease-in-out backwards;
        }

        .starter-1,
        .starter-2,
        .starter-3,
        .main-course-1,
        .main-course-2,
        .main-course-3,
        .dessert-1,
        .dessert-2,
        .dessert-3 {
            animation: translateX 1200ms ease-in-out backwards;

            @media (max-width: $breakpoint-mobile) {
                --translate-x: 24rem;
            }

            @media (max-width: $breakpoint-tablet) {
                --translate-x: 40rem;
            }

            @media (min-width: 1200px) {
                --translate-x: 55rem;
            }
        }

        .starters-title {
            animation-delay: 100ms;
        }

        .starter-1 {
            animation-delay: 200ms;
        }

        .starter-2 {
            animation-delay: 300ms;
        }

        .starter-3 {
            animation-delay: 400ms;
        }

        .plats-title {
            animation-delay: 500ms;
        }

        .main-course-1 {
            animation-delay: 600ms;
        }

        .main-course-2 {
            animation-delay: 700ms;
        }

        .main-course-3 {
            animation-delay: 800ms;
        }

        .desserts-title {
            animation-delay: 900ms;
        }

        .dessert-1 {
            animation-delay: 1000ms;
        }

        .dessert-2 {
            animation-delay: 1100ms;
        }

        .dessert-3 {
            animation-delay: 1200ms;
        }

        .menu {
            padding: 1rem 0;

            @media (min-width: $breakpoint-tablet) {
                min-width: 600px;
            }

            @media (min-width: $breakpoint-desktop) {
                width: 635px;
            }

            h2 {
                font-size: 1rem;
                font-weight: $content-weight;
                padding-bottom: 0.3rem;

                &::after {
                    content: "";
                    display: block;
                    background-color: $tertiary;
                    width: 40px;
                    height: 2.5px;
                    margin-top: 5px;
                }
            }

            .menu-container {
                background-color: $white;
                margin: 1rem 0;
                border-radius: $border-radius-global;
                height: 70px;
                box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.15);
                overflow: hidden;

                .checkbox {
                    display: none;
                }

                .check-label {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    .menu-card__content {
                        padding: 1rem 0 1rem 1rem;
                        flex: 1;
                        min-width: 0;
                        display: flex;
                        flex-direction: column;

                        .menu-card__title,
                        .menu-card__subtitle {
                            white-space: nowrap;

                            @media (max-width: 374px) {
                                @include truncate;
                            }
                        }

                        .menu-card__title {
                            font-weight: 500;
                            font-size: 1.08rem;
                        }

                        .menu-card__subtitle {
                            font-size: 0.95rem;
                        }
                    }

                    .menu-card__price {
                        display: flex;
                        align-items: flex-end;
                        padding: 0 1rem 1rem 1rem;
                        font-size: 0.95rem;
                        font-weight: 600;
                        display: flex;
                        align-items: flex-end;
                        transform: translateX(4em);
                        transition: transform 300ms;
                    }

                    .menu-card__check {
                        background-color: $tertiary;
                        width: 1.8rem;
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: $border-radius-right;
                        transition: transform 300ms;
                        transform: translateX(4em);

                        & .fa-check {
                            background-color: $white;
                            padding: 0.2rem;
                            border-radius: 50%;
                            color: $tertiary;
                            width: 1rem;
                            height: 1rem;
                            text-align: center;
                        }
                    }
                }

                .checkbox:checked + .check-label {
                    .menu-card__check,
                    .menu-card__price {
                        transform: translateX(0em);
                    }

                    .menu-card__title,
                    .menu-card__subtitle {
                        @include truncate;
                    }
                }

                @media (min-width: $breakpoint-desktop) {
                    .checkbox:hover + .check-label {
                        .menu-card__check,
                        .menu-card__price {
                            transform: translateX(0em);
                        }
                    }
                }
            }
        }

        .btn {
            margin: auto;
        }
    }
}