@use 'sass:color';
@use 'components/footer';
@use 'page-resto';
@use 'components/header';
@use 'settings' as *;

/***** HOMEPAGE *****/
/*** Loader ***/
@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
    }
}

.main-container-homepage {
    .header-homepage,
    .main,
    .footer {
        animation: fadeIn 1s 2.5s backwards;
    }
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh; /* Gère la barre d'adresse rétractable sur mobile */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none; /* Empêche les clics sur le contenu de dessous pendant le loader */
    animation: fadeOut 1s 2s forwards;

    .loader {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: linear-gradient(0deg, $primary 0%, $secondary 50%, $white 100%);
        animation: spin 1000ms 500ms linear infinite;

        .inner-circle {
            width: 90%;
            height: 90%;
            background-color: $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-solid.fa-bell-concierge {
                font-size: 4rem;
                color: $bg-footer;
                animation: spin-reverse 1000ms 500ms linear infinite;
            }
        }
    }
}


/*** Hero ***/
.hero {
    padding: 25px;
    text-align: center;
    background-color: $very-light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1441px) {
        border-radius: $border-radius-bottom;
    }

    & > h2 {
        margin-bottom: 15px;
        padding: 10px 25px;

        @media (min-width: $breakpoint-wide) {
            font-size: 40px;
        }
    }

    p {
        font-size: 18px;
    }
}


/*** Functioning Section ***/
.functioning {
    padding-bottom: 45px;

    & > h2 {
        padding: 32px 16px;

        @media (min-width: $breakpoint-tablet) {
            padding: 32px 50px;
        }

        @media (min-width: $breakpoint-desktop) {
            padding: 32px;
        }

        @media (min-width: $breakpoint-wide) {
            padding: 32px 0 32px 200px;
        }
    }

    .functioning-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        padding: 0 16px;
        padding-left: calc(16px + 14px);

        @media (min-width: $breakpoint-tablet) {
            padding-left: calc(50px + 14px);
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @media (min-width: $breakpoint-desktop) {
            padding: 32px;
            padding-left: calc(32px + 14px);
            flex-direction: row;
            justify-content: center;
        }

        @media (min-width: $breakpoint-wide) {
            padding: 0 0 30px 88px;
            gap: 40px;
        }
    }

    .functioning-item {
        display: flex;
        align-items: center;
        position: relative;

        .number {
            padding: 5px 10px;
            background-color: $primary;
            border-radius: 15px;
            color: $white;
            font-weight: 500;
            position: absolute;
            top: 23px;
            left: -14px;
            font-size: 14px;
        }

        .functioning-content {
            display: flex;
            gap: 25px;
            align-items: center;
            background-color: $very-light-gray;
            padding: 25px 40px;
            border-radius: 20px;
            width: 260px;
            height: 25px;
            box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.15);

            @media (max-width: 374px) {
                width: 205px;
            }

            @media (min-width: $breakpoint-desktop) and (max-width: 1154px) {
                width: 225px;
            }

            p {
                font-weight: 500;
            }
        }

        .fa-solid {
            font-size: 20px;
        }

        .fa-mobile-screen-button,
        .fa-list {
            color: $medium-gray;
        }

        .fa-store {
            color: $primary;
        }
    }
}

/***  Restaurant Section ***/
.restaurants {
    background-color: $very-light-gray;
    padding-bottom: 45px;

    @media (min-width: 1441px) {
        border-radius: $border-radius-top;
    }

    & > h2 {
        padding: 32px 16px;

        @media (min-width: $breakpoint-tablet) {
            padding: 32px 50px;
        }

        @media (min-width: $breakpoint-desktop) {
            padding: 32px;
        }

        @media (min-width: $breakpoint-wide) {
            padding: 32px 202px;
        }
    }

    .resto-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @media (min-width: $breakpoint-tablet) {
            flex-direction: unset;
            flex-wrap: wrap;
        }

        @media (min-width: $breakpoint-desktop) {
            gap: 48px;
        }

        @media (min-width: $breakpoint-wide) {
            row-gap: 56px;
            column-gap: 58px;
        }

        & .resto-card:nth-child(1),
        & .resto-card:nth-child(2) {
            & a::after {
                content: "Nouveau";
                position: absolute;
                background-color: $tertiary;
                color: $quaternary;
                font-weight: 500;
                right: 12px;
                top: 15px;
                padding: 8px;
                width: 65px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
            }
        }

        .resto-card {
            width: 343px;
            height: 251px;
            position: relative;
            display: inline-block;
            background-color: $white;
            border-radius: $border-radius-global;

            @media (min-width: 320px) and (max-width: 374px) {
                width: clamp(295px, 2vw, 343px);
            }

            @media (min-width: $breakpoint-desktop) {
                width: 400px;
            }

            @media (min-width: $breakpoint-wide) {
                width: clamp(490px, 2vw, 550px);
                height: clamp(251px, 2vw, 300px);
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 175px;
                border-radius: $border-radius-top;
            }

            .favorite-container {
                .favorite-checkbox {
                    display: none;
                }

                    .favorite-label {
                        .fa-heart {
                            font-size: $font-size-heart;
                            cursor: pointer;
                            position: absolute;
                            right: 20px;
                            bottom: 27px;
                            transition: opacity 800ms ease-in-out, transform 500ms;
                        }

                        .fa-regular.fa-heart {
                            z-index: 1;
                        }

                        .fa-solid.fa-heart {
                            @include bg-fill-heart;
                            z-index: 2;
                            transform-origin: 50% 85%;
                            transform: scale(0);
                        }
                    }

                @media (max-width: 1023px) {
                    .favorite-checkbox:checked + .favorite-label {
                        .fa-regular.fa-heart {
                            opacity: 0;
                        }

                        .fa-solid.fa-heart {
                            transform: scale(1);
                        }
                    }
                }

                @media (min-width: $breakpoint-desktop) {
                    .favorite-checkbox:hover + .favorite-label {
                        .fa-regular.fa-heart {
                            opacity: 0;
                        }

                        .fa-solid.fa-heart {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        .resto-card-content {
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 3px;

            h3 {
                font-size: 18px;
                color: $black;
            }

            p {
                font-size: 17px;
                color: $black;
            }
        }
    }
}
/***** END HOMEPAGE *****/