@use 'sass:color';
@use 'components/footer';
@use 'page-resto';
@use 'page-resto-new';
@use 'components/header';
@use 'settings' as *;

/***** HOMEPAGE *****/
/*** Loader ***/
@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
    }
}

.main-container-homepage {
    .header-homepage,
    .main,
    .footer {
        animation: fadeIn 1s 2.5s backwards;
    }
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: $white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 9999;

    animation: fadeOut 1s 2s forwards;

    .loader {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: linear-gradient(0deg, $primary 0%, $secondary 50%, $white 100%);
        animation: spin 1000ms 500ms linear infinite;

        .inner-circle {
            width: 90%;
            height: 90%;
            background-color: $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-solid.fa-bell-concierge {
                font-size: 4rem;
                color: $bg-footer;

                animation: spin-reverse 1000ms 500ms linear infinite;
            }
        }
    }
}


/*** Hero ***/
.hero {
    padding: 25px;
    text-align: center;
    background-color: $very-light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h2 {
        margin-bottom: 15px;
        padding: 10px 25px;

        @media (min-width: $breakpoint-wide) {
            font-size: 40px;
        }
    }

    p {
        font-size: 18px;
    }
}


/*** Functioning Section ***/
.functioning {
    padding-bottom: 45px;

    @media (min-width: $breakpoint-wide) {
        margin: 0;
        padding: 30px 200px;
    }

    & > h2 {
        padding: 30px 15px;

        @media (min-width: $breakpoint-tablet) {
            padding: 30px 50px;
        }

        @media (min-width: $breakpoint-desktop) {
            padding: 2rem;
        }

        @media (min-width: $breakpoint-wide) {
            padding: 0 0 30px 0;
        }
    }

    .functioning-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        padding-left: 1rem;

        @media (min-width: $breakpoint-desktop) {
            flex-direction: unset;
            align-items: unset;
        }
    }

    .functioning-square {
        display: flex;
        align-items: center;
        position: relative;

        .number {
            padding: 5px 10px;
            background-color: $primary;
            border-radius: 15px;
            color: $white;
            font-weight: 500;
            position: absolute;
            top: 23px;
            left: -14px;
            font-size: 14px;
        }

        .functioning-content {
            display: flex;
            gap: 25px;
            align-items: center;
            background-color: $very-light-gray;
            padding: 25px 40px;
            border-radius: 20px;
            // width: clamp(205px, 2vw, 250px);
            height: 25px;
            box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.15);

            @media (max-width: 374px) {
                width: 205px;
            }

            p {
                font-weight: 500;
            }
        }

        .fa-solid {
            font-size: 1.2rem;
        }

        .fa-mobile-screen-button,
        .fa-list {
            color: $medium-gray;
        }

        .fa-store {
            color: $primary;
        }
    }
}

/***  Restaurant Section ***/
.restaurants {
    background-color: $very-light-gray;
    padding-bottom: 45px;

    @media (min-width: $breakpoint-wide) {
        margin: 0;
        padding: 30px 200px;
    }

    & > h2 {
        padding: 30px 15px;

        @media (min-width: $breakpoint-tablet) {
            padding: 30px 50px;
        }

        @media (min-width: $breakpoint-desktop) {
            padding: 2rem;
        }

        @media (min-width: $breakpoint-wide) {
            padding: 0 0 30px 0;
        }
    }

    .resto-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @media (min-width: $breakpoint-tablet) {
            flex-direction: unset;
            flex-wrap: wrap;
            align-items: unset;
            // justify-content: center;
        }

        @media (min-width: $breakpoint-desktop) {
            gap: 3rem;
        }

        @media (min-width: $breakpoint-wide) {

            row-gap: 3rem;
            column-gap: 3.5rem;
        }

        .resto-card {
            min-width: 315px;
            height: 251px;
            position: relative;
            background-color: $white;
            border-radius: $border-radius-global;

            @media (min-width: $breakpoint-desktop) {
                min-width: 400px;
            }

            @media (min-width: $breakpoint-wide) {
                width: 490px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 175px;
                border-radius: $border-radius-top;
            }

            .tag-new {
                background-color: $tertiary;
                color: $quaternary;
                font-weight: 500;
                padding: 8px;
                width: 65px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                position: absolute;
                right: 12px;
                top: 15px;
            }

            .favorite-container {
                @include fav-style;

                .favorite-checkbox {
                    @include display-none;
                }

                .fa-regular.fa-heart {
                    cursor: pointer;
                }

                .favorite-checkbox:checked + .favorite-label {
                    .fa-regular.fa-heart {
                        @include bg-fill-heart;
                    }
                }

                @media (min-width: $breakpoint-desktop) {
                    .favorite-checkbox:hover + .favorite-label {
                        .fa-regular.fa-heart {
                            @include bg-fill-heart;
                        }
                    }
                }
            }
        }

        .resto-card-content {
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 3px;

            h4 {
                font-size: 18px;
                color: $black;
            }

            p {
                font-size: 17px;
                color: $black;
            }
        }
    }
}
/***** END HOMEPAGE *****/