@use '../settings' as *;

.footer {
    background-color: $bg-footer;
    padding-top: 10px;
    padding-bottom: 20px;

    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: row-reverse;
        gap: 48px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media (min-width: $breakpoint-desktop) {
        align-items: center;
        padding-right: 25px;

        a,
        a > h3 {
            transition: color 500ms;

            &:hover {
                color: $secondary;
            }
        }

        .footer-list {
            display: flex;
            gap: 5px;

            & > li {
                padding: 5px;
            }
        }

        .footer-list-1 {
            order: 3;
        }
    }

    @media (min-width: $breakpoint-wide) {
        padding-top: 50px;
        padding-right: 50px;
    }

    h3,
    a {
        color: $white;
    }

    h3 {
        font-family: shrikhand;
        font-weight: 200;
        font-size: 18px;
        padding: 15px 20px;
    }

    li {
        padding: 5px 20px;
    }

    .fa-solid {
        padding-right: 5px;
    }

    .footer-list-1 {
        & > li {
            & > a {
                font-weight: 500;
            }
        }
    }
}