@use '../settings' as *;

/***** Header Homepage *****/
.header-homepage {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding: 15px;
    }

    .location-search {
        background-color: $light-gray;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;

        input {
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
    }

    .fa-location-dot {
        color: $black;
    }
}

/***** Header Page Resto *****/
.header-resto-page {
    display: flex;
    flex-direction: column;

    &__main {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;

        a > .fa-arrow-left{
            color: $black;
            font-size: 1.5rem;
        }

        & > img {
            margin: auto;
        }
    }

    & > img {
        width: 100%;
        object-fit: cover;

        @media (min-width: $breakpoint-tablet) {
            max-height: 460px;
        }

        @media (min-width: $breakpoint-desktop) {
            max-height: 383px;
        }
    }
}