/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Colors */
/* Borders */
/* Typography */
/* Breakpoints */
/* Button */
/* Favorite style */
/* Display None */
/* Bg color fill heart */
/* Body */
body {
  font-family: "Roboto", sans-serif;
}
body .main-container-homepage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body h2 {
  font-weight: 700;
}
body p {
  font-weight: 300;
}
body .btn {
  padding: 1rem 2.5rem;
  margin: 30px;
  width: fit-content;
  display: flex;
  justify-content: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 1rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 500ms;
}
body .btn:hover {
  opacity: 0.8;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #353535;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .footer {
    padding-left: -3rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  .footer {
    align-items: center;
  }
  .footer .footer-list {
    display: flex;
    gap: 5px;
  }
  .footer .footer-list > li {
    padding: 5px;
  }
  .footer .footer-list-1 {
    order: 3;
  }
}
.footer h3,
.footer a {
  color: #FFFFFF;
}
.footer h3 {
  font-family: shrikhand;
  font-weight: 200;
  font-size: 18px;
  padding: 15px 20px;
}
.footer li {
  padding: 5px 20px;
}
.footer .fa-solid {
  padding-right: 5px;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .resto-main-container {
    background-color: #FFFFFF;
  }
}
.resto-main-container .resto-main {
  padding: 2rem 0.7rem;
  margin-bottom: -3.5rem;
  background-color: #F6F6F6;
  position: relative;
  top: -3.5rem;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
@media (min-width: 426px) and (max-width: 768px) {
  .resto-main-container .resto-main {
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .resto-main-container .resto-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .resto-main-container .resto-main {
    padding: 2rem 2rem 3rem 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (min-width: 1201px) {
  .resto-main-container .resto-main {
    margin: auto auto -3.5rem auto;
    width: 1055px;
  }
}
.resto-main-container .resto-main .resto-name {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-bottom: 1rem;
}
.resto-main-container .resto-main .resto-name > h1 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 200;
}
.resto-main-container .resto-main .resto-name .favorite-checkbox {
  display: none;
}
.resto-main-container .resto-main .resto-name .favorite-label .fa-heart {
  font-size: 1.7rem;
  padding: 0 1rem;
  cursor: pointer;
}
.resto-main-container .resto-main .resto-name .favorite-checkbox:checked + .favorite-label .fa-regular.fa-heart {
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resto-main-container .resto-main .menu-category:nth-of-type(1) {
  animation-delay: 500ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(2) {
  animation-delay: 1000ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(3) {
  animation-delay: 1500ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(4) {
  animation-delay: 2000ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(5) {
  animation-delay: 2500ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(6) {
  animation-delay: 3000ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(7) {
  animation-delay: 3500ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(8) {
  animation-delay: 4000ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(9) {
  animation-delay: 4500ms;
}
.resto-main-container .resto-main .menu-category:nth-of-type(10) {
  animation-delay: 5000ms;
}
.resto-main-container .resto-main .menu-category {
  padding: 1rem 0;
  opacity: 0;
  transform: translateY(-10rem);
  animation: appear 1000ms ease-in-out forwards;
}
@media (min-width: 768px) {
  .resto-main-container .resto-main .menu-category {
    min-width: 600px;
  }
}
@media (min-width: 1024px) {
  .resto-main-container .resto-main .menu-category {
    width: 635px;
  }
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(1) {
  animation-delay: 500ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(2) {
  animation-delay: 1000ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(3) {
  animation-delay: 1500ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(4) {
  animation-delay: 2000ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(5) {
  animation-delay: 2500ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(6) {
  animation-delay: 3000ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(7) {
  animation-delay: 3500ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(8) {
  animation-delay: 4000ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(9) {
  animation-delay: 4500ms;
}
.resto-main-container .resto-main .menu-category .menu-category__title:nth-of-type(10) {
  animation-delay: 5000ms;
}
.resto-main-container .resto-main .menu-category__title {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 0.3rem;
  opacity: 0;
  transform: translateY(-10rem);
  animation: appear 1000ms ease-in-out forwards;
}
.resto-main-container .resto-main .menu-category__title::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 40px;
  height: 2.5px;
  margin-top: 5px;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(1) {
  animation-delay: 500ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(2) {
  animation-delay: 1000ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(3) {
  animation-delay: 1500ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(4) {
  animation-delay: 2000ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(5) {
  animation-delay: 2500ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(6) {
  animation-delay: 3000ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(7) {
  animation-delay: 3500ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(8) {
  animation-delay: 4000ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(9) {
  animation-delay: 4500ms;
}
.resto-main-container .resto-main .menu-category .menu-item:nth-child(10) {
  animation-delay: 5000ms;
}
.resto-main-container .resto-main .menu-category .menu-item {
  background-color: #FFFFFF;
  margin: 1rem 0;
  border-radius: 15px;
  height: 70px;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10rem);
  animation: appear 1000ms ease-in-out forwards;
}
.resto-main-container .resto-main .menu-category .menu-item .checkbox {
  display: none;
}
.resto-main-container .resto-main .menu-category .menu-item .check-label {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__content {
  padding: 1rem 0 1rem 1rem;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__content .menu-item__title,
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__content .menu-item__subtitle {
  white-space: nowrap;
}
@media (max-width: 374px) {
  .resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__content .menu-item__title,
  .resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__content .menu-item__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__content .menu-item__title {
  font-weight: 500;
  font-size: 1.08rem;
}
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__content .menu-item__subtitle {
  font-size: 0.95rem;
}
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__price {
  display: flex;
  align-items: flex-end;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.95rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  transform: translateX(4em);
  transition: transform 300ms;
}
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__check {
  background-color: #99E2D0;
  width: 1.8rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transition: transform 300ms;
  transform: translateX(4em);
}
.resto-main-container .resto-main .menu-category .menu-item .check-label .menu-item__check .fa-check {
  background-color: #FFFFFF;
  padding: 0.2rem;
  border-radius: 50%;
  color: #99E2D0;
  width: 1rem;
  height: 1rem;
  text-align: center;
}
.resto-main-container .resto-main .menu-category .menu-item .checkbox:checked + .check-label .menu-item__check,
.resto-main-container .resto-main .menu-category .menu-item .checkbox:checked + .check-label .menu-item__price {
  transform: translateX(0em);
}
.resto-main-container .resto-main .menu-category .menu-item .checkbox:checked + .check-label .menu-item__title,
.resto-main-container .resto-main .menu-category .menu-item .checkbox:checked + .check-label .menu-item__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .resto-main-container .resto-main .menu-category .menu-item .checkbox:hover + .check-label .menu-item__check,
  .resto-main-container .resto-main .menu-category .menu-item .checkbox:hover + .check-label .menu-item__price {
    transform: translateX(0em);
  }
}
.resto-main-container .resto-main .btn {
  margin: auto;
}

/***** Header Homepage *****/
.header-homepage {
  padding: 10px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .header-homepage {
    padding-bottom: 0;
  }
}
.header-homepage img {
  padding: 15px;
}
.header-homepage .location-search {
  background-color: #EAEAEA;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1023px) {
  .header-homepage .location-search {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  }
}
.header-homepage .location-search input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.header-homepage .fa-location-dot {
  color: #000000;
}

/***** Header Page Resto *****/
.header-resto-page {
  display: flex;
  flex-direction: column;
}
.header-resto-page__main {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}
.header-resto-page__main a > .fa-arrow-left {
  color: #000000;
  font-size: 1.5rem;
}
.header-resto-page__main > img {
  margin: auto;
}
.header-resto-page > img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .header-resto-page > img {
    height: 275px;
  }
}
@media (min-width: 769px) {
  .header-resto-page > img {
    max-height: 383px;
  }
}

/***** HOMEPAGE *****/
/*** Loader ***/
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
  }
}
.main-container-homepage .header-homepage,
.main-container-homepage .main,
.main-container-homepage .footer {
  animation: fadeIn 1s 2.5s backwards;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9999;
  animation: fadeOut 1s 2s forwards;
}
.loader-container .loader {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 50%, #FFFFFF 100%);
  animation: spin 1000ms 500ms linear infinite;
}
.loader-container .loader .inner-circle {
  width: 90%;
  height: 90%;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container .loader .inner-circle .fa-solid.fa-bell-concierge {
  font-size: 4rem;
  color: #353535;
  animation: spin-reverse 1000ms 500ms linear infinite;
}

/*** Hero ***/
.hero {
  padding: 25px;
  text-align: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero > h2 {
  margin-bottom: 15px;
  padding: 10px 25px;
}
@media (min-width: 1440px) {
  .hero > h2 {
    font-size: 40px;
  }
}
.hero p {
  font-size: 18px;
}

/*** Functioning Section ***/
.functioning {
  padding-bottom: 45px;
}
@media (min-width: 1440px) {
  .functioning {
    margin: 0;
    padding: 30px 200px;
  }
}
.functioning > h2 {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .functioning > h2 {
    padding: 30px 50px;
  }
}
@media (min-width: 1024px) {
  .functioning > h2 {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  .functioning > h2 {
    padding: 0 0 30px 0;
  }
}
.functioning .functioning-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-left: calc(1rem + 14px);
}
@media (min-width: 768px) {
  .functioning .functioning-container {
    padding-left: 64px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .functioning .functioning-container {
    padding: 2rem;
    padding-left: calc(2rem + 14px);
    flex-direction: unset;
    align-items: unset;
  }
}
@media (min-width: 1440px) {
  .functioning .functioning-container {
    padding: 0 0 30px 0;
    padding-left: 14px;
  }
}
.functioning .functioning-square {
  display: flex;
  align-items: center;
  position: relative;
}
.functioning .functioning-square .number {
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 15px;
  color: #FFFFFF;
  font-weight: 500;
  position: absolute;
  top: 23px;
  left: -14px;
  font-size: 14px;
}
.functioning .functioning-square .functioning-content {
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: #F6F6F6;
  padding: 25px 40px;
  border-radius: 20px;
  height: 25px;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 374px) {
  .functioning .functioning-square .functioning-content {
    width: 205px;
  }
}
.functioning .functioning-square .functioning-content p {
  font-weight: 500;
}
.functioning .functioning-square .fa-solid {
  font-size: 1.2rem;
}
.functioning .functioning-square .fa-mobile-screen-button,
.functioning .functioning-square .fa-list {
  color: #7E7E7E;
}
.functioning .functioning-square .fa-store {
  color: #9356DC;
}

/***  Restaurant Section ***/
.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 45px;
}
@media (min-width: 1440px) {
  .restaurants {
    margin: 0;
    padding: 30px 200px;
  }
}
.restaurants > h2 {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .restaurants > h2 {
    padding: 30px 50px;
  }
}
@media (min-width: 1024px) {
  .restaurants > h2 {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  .restaurants > h2 {
    padding: 0 0 30px 0;
  }
}
.restaurants .resto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .restaurants .resto-container {
    flex-direction: unset;
    flex-wrap: wrap;
    align-items: unset;
  }
}
@media (min-width: 1024px) {
  .restaurants .resto-container {
    gap: 3rem;
  }
}
@media (min-width: 1440px) {
  .restaurants .resto-container {
    row-gap: 3rem;
    column-gap: 3.5rem;
  }
}
.restaurants .resto-container .resto-card {
  min-width: 315px;
  height: 251px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15px;
}
@media (min-width: 1024px) {
  .restaurants .resto-container .resto-card {
    min-width: 400px;
  }
}
@media (min-width: 1440px) {
  .restaurants .resto-container .resto-card {
    width: 490px;
  }
}
.restaurants .resto-container .resto-card img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.restaurants .resto-container .resto-card .tag-new {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 8px;
  width: 65px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 15px;
}
.restaurants .resto-container .resto-card .favorite-container {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  font-size: 1.5rem;
  transition: 500ms;
}
.restaurants .resto-container .resto-card .favorite-container .favorite-checkbox {
  display: none;
}
.restaurants .resto-container .resto-card .favorite-container .fa-regular.fa-heart {
  cursor: pointer;
}
.restaurants .resto-container .resto-card .favorite-container .favorite-checkbox:checked + .favorite-label .fa-regular.fa-heart {
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1024px) {
  .restaurants .resto-container .resto-card .favorite-container .favorite-checkbox:hover + .favorite-label .fa-regular.fa-heart {
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.restaurants .resto-container .resto-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.restaurants .resto-container .resto-card-content h4 {
  font-size: 18px;
  color: #000000;
}
.restaurants .resto-container .resto-card-content p {
  font-size: 17px;
  color: #000000;
}

/***** END HOMEPAGE *****/

/*# sourceMappingURL=main.css.map */
