/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Colors */
/* Borders */
/* Typography */
/* Breakpoints */
/* Button */
/* Favorite style */
/* Body */
body {
  font-family: "Roboto", sans-serif;
}
body .main-container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body h2 {
  font-weight: 700;
}
body p {
  font-weight: 300;
}
body .btn {
  padding: 15px 20px;
  margin: 30px;
  width: fit-content;
  display: flex;
  justify-content: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 1rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 500ms;
}
body .btn:hover {
  opacity: 0.8;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

/***** Header Homepage *****/
.header-homepage {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-homepage img {
  padding: 15px;
}
.header-homepage .location-search {
  background-color: #EAEAEA;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.header-homepage .location-search input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.header-homepage .fa-location-dot {
  color: #000000;
}

/***** Header Page Resto *****/
.header-resto-page {
  display: flex;
  flex-direction: column;
}
.header-resto-page__main {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}
.header-resto-page__main a > .fa-arrow-left {
  color: #000000;
  font-size: 1.5rem;
}
.header-resto-page__main > img {
  margin: auto;
}
.header-resto-page > img {
  width: 100%;
  object-fit: cover;
}

.resto-main {
  padding: 2rem 1rem;
  background-color: #F6F6F6;
}
.resto-main .resto-name {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-bottom: 1rem;
}
.resto-main .resto-name > h1 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  line-height: 2rem;
}
.resto-main .resto-name > .fa-heart {
  font-size: 1.7rem;
  padding: 0 1rem;
}
.resto-main .menu {
  padding: 1rem 0;
}
.resto-main .menu > h2 {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 0.3rem;
}
.resto-main .menu > .underline {
  background-color: #99E2D0;
  width: 40px;
  height: 2.5px;
}
.resto-main .menu .menu-container {
  background-color: #FFFFFF;
  margin: 1rem 0;
  border-radius: 15px;
}
.resto-main .menu .menu-container .menu-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resto-main .menu .menu-container .menu-card__title {
  font-weight: 500;
}
.resto-main .menu .menu-container .menu-card__content {
  padding: 1rem 0 1rem 1rem;
}
.resto-main .menu .menu-container .menu-card__subcontent {
  display: flex;
  align-items: center;
}
.resto-main .menu .menu-container .menu-card__price {
  padding: 0 1rem;
}
.resto-main .menu .menu-container .menu-card__price > .white-space {
  height: 1.5rem;
}
.resto-main .menu .menu-container .menu-card__check {
  background-color: #99E2D0;
  height: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0 15px 15px 0;
}
.resto-main .menu .menu-container .menu-card__check .fa-check {
  background-color: #FFFFFF;
  padding: 0.2rem;
  border-radius: 50%;
  color: #99E2D0;
  width: 1rem;
  height: 1rem;
  text-align: center;
}
.resto-main .btn {
  margin: auto;
}

.footer {
  background-color: #353535;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .footer {
    width: 97%;
    padding-left: 2rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 98%;
    align-items: center;
  }
  .footer .footer-list {
    display: flex;
    gap: 5px;
  }
  .footer .footer-list > li {
    padding: 5px;
  }
  .footer .footer-list-1 {
    order: 3;
  }
}
.footer h3,
.footer a {
  color: #FFFFFF;
}
.footer h3 {
  font-family: shrikhand;
  font-weight: 200;
  font-size: 18px;
  padding: 15px 20px;
}
.footer li {
  padding: 5px 20px;
}
.footer .fa-solid {
  padding-right: 5px;
}

/***** HOMEPAGE *****/
/*** Loader ***/
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9999;
  animation: fadeOut 1s 2s forwards;
}
.loader-container .loader {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 50%, #FFFFFF 100%);
  animation: spin 1000ms 500ms linear infinite;
}
.loader-container .loader .inner-circle {
  width: 90%;
  height: 90%;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container .loader .inner-circle .fa-solid.fa-bell-concierge {
  font-size: 4rem;
  color: #353535;
  animation: spin-reverse 1000ms 500ms linear infinite;
}

/***** Content animation *****/
/*** Hero ***/
.hero {
  padding: 25px;
  text-align: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero > h2 {
  margin-bottom: 15px;
  padding: 10px 25px;
}
@media (min-width: 1440px) {
  .hero > h2 {
    font-size: 40px;
  }
}
.hero p {
  font-size: 18px;
}

/*** Functioning Section ***/
.functioning {
  padding-bottom: 45px;
}
@media (min-width: 1440px) {
  .functioning {
    margin: 0;
    padding: 30px 200px;
  }
}
.functioning > h2 {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .functioning > h2 {
    padding: 30px 50px;
  }
}
@media (min-width: 1024px) {
  .functioning > h2 {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  .functioning > h2 {
    padding: 0 0 30px 0;
  }
}
.functioning .functioning-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-left: 1rem;
}
@media (min-width: 1024px) {
  .functioning .functioning-container {
    flex-direction: unset;
    align-items: unset;
    padding-left: 2rem;
  }
}
.functioning .functioning-square {
  display: flex;
  align-items: center;
  position: relative;
}
.functioning .functioning-square .number {
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 15px;
  color: #FFFFFF;
  font-weight: 500;
  position: absolute;
  top: 23px;
  left: -14px;
  font-size: 14px;
}
.functioning .functioning-square .functioning-content {
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: #F6F6F6;
  padding: 25px 40px;
  border-radius: 20px;
  min-width: 220px;
  height: 25px;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.functioning .functioning-square .functioning-content p {
  font-weight: 500;
}
.functioning .functioning-square .fa-solid {
  font-size: 1.2rem;
}
.functioning .functioning-square .fa-mobile-screen-button,
.functioning .functioning-square .fa-list {
  color: #7E7E7E;
}
.functioning .functioning-square .fa-store {
  color: #9356DC;
}

/***  Restaurant Section ***/
.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 45px;
}
@media (min-width: 1440px) {
  .restaurants {
    margin: 0;
    padding: 30px 200px;
  }
}
.restaurants > h2 {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .restaurants > h2 {
    padding: 30px 50px;
  }
}
@media (min-width: 1024px) {
  .restaurants > h2 {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  .restaurants > h2 {
    padding: 0 0 30px 0;
  }
}
.restaurants .resto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .restaurants .resto-container {
    flex-direction: unset;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .restaurants .resto-container {
    gap: 3rem;
  }
}
@media (min-width: 1440px) {
  .restaurants .resto-container {
    row-gap: 3rem;
    column-gap: 3.5rem;
  }
}
.restaurants .resto-container .resto-card {
  min-width: 315px;
  height: 251px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15px;
}
@media (min-width: 1024px) {
  .restaurants .resto-container .resto-card {
    min-width: 400px;
  }
}
@media (min-width: 1440px) {
  .restaurants .resto-container .resto-card {
    width: 490px;
  }
}
.restaurants .resto-container .resto-card img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.restaurants .resto-container .resto-card .tag-new {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 8px;
  width: 65px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 15px;
}
.restaurants .resto-container .resto-card .favorite-container {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  font-size: 1.5rem;
  transition: 500ms;
}
.restaurants .resto-container .resto-card .favorite-container .favorite-checkbox {
  display: none;
}
.restaurants .resto-container .resto-card .favorite-container .fa-regular.fa-heart {
  cursor: pointer;
}
.restaurants .resto-container .resto-card .favorite-container .favorite-checkbox:checked + .favorite-label .fa-regular.fa-heart {
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1024px) {
  .restaurants .resto-container .resto-card .favorite-container .favorite-checkbox:hover + .favorite-label .fa-regular.fa-heart {
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.restaurants .resto-container .resto-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.restaurants .resto-container .resto-card-content h4 {
  font-size: 18px;
  color: #000000;
}
.restaurants .resto-container .resto-card-content p {
  font-size: 17px;
  color: #000000;
}

/***** END HOMEPAGE *****/

/*# sourceMappingURL=main.css.map */
