/***** Settings *****/
/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Colors */
/* Borders */
/* Typography */
/* Button */
/* Body */
body {
  font-family: "Roboto", sans-serif;
}
body .main-container {
  box-sizing: border-box;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body h2 {
  font-weight: 700;
}
body p {
  font-weight: 300;
}
body .btn {
  margin: 30px 0 60px 0;
  padding: 20px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  color: white;
  font-size: 16px;
}

/***** Header *****/
.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img {
  padding: 15px;
}
.header .location {
  background-color: #EAEAEA;
  padding: 30px 65px;
  width: 100%;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .fa-location-dot {
  color: #000000;
}

/***** Hero *****/
.hero {
  padding: 25px;
  text-align: center;
  background-color: #F3F3F3;
}
.hero h2 {
  margin-bottom: 15px;
  padding: 10px;
}
.hero p {
  font-size: 18px;
}

/***** Section Restaurant *****/
.restaurants {
  background-color: #F3F3F3;
}
.restaurants .resto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .resto-container .resto-card {
  width: 340px;
  height: 251px;
}
.restaurants .resto-container .resto-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.restaurants .resto-container .resto-card-content {
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
}

/***** Footer *****/
.footer {
  background-color: #353535;
}