/***** Settings *****/
/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Colors */
/* Borders */
/* Typography */
/* Button */
/* Body */
body {
  font-family: "Roboto", sans-serif;
}
body .main-container {
  box-sizing: border-box;
  min-width: 375px;
  display: flex;
  flex-direction: column;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body h2 {
  font-weight: 700;
}
body p {
  font-weight: 300;
}
body .btn {
  margin: 30px 0;
  padding: 20px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 16px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/***** Header *****/
.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img {
  padding: 15px;
}
.header .location-search {
  background-color: #EAEAEA;
  padding: 20px 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.header .location-search input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.header .fa-location-dot {
  color: #000000;
}

/***** Hero *****/
.hero {
  padding: 25px;
  text-align: center;
  background-color: #F6F6F6;
}
.hero h2 {
  margin-bottom: 15px;
  padding: 10px;
}
.hero p {
  font-size: 18px;
}

/***** Functioning Section *****/
.functioning {
  margin: 30px 15px;
}
.functioning > h2 {
  padding: 30px 0;
}
.functioning .functioning-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.functioning .functioning-square {
  display: flex;
  align-items: center;
  position: relative;
}
.functioning .functioning-square .number {
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 15px;
  color: #FFFFFF;
  font-weight: 500;
  position: absolute;
  top: 23px;
  left: -14px;
  font-size: 14px;
}
.functioning .functioning-square .functioning-content {
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: #F6F6F6;
  padding: 25px 40px;
  border-radius: 20px;
  width: 240px;
  height: 25px;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.functioning .functioning-square .functioning-content p {
  font-weight: 500;
}
.functioning .functioning-square .fa-solid {
  font-size: 1.2rem;
}
.functioning .functioning-square .fa-mobile-screen-button,
.functioning .functioning-square .fa-list {
  color: #7E7E7E;
}
.functioning .functioning-square .fa-store {
  color: #9356DC;
}

/*****  Restaurant Section *****/
.restaurants {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 45px;
}
.restaurants > h2 {
  padding: 16px;
}
.restaurants .resto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.restaurants .resto-container .resto-card {
  width: 340px;
  height: 251px;
  position: relative;
}
.restaurants .resto-container .resto-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.restaurants .resto-container .resto-card .tag-new {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 8px;
  width: 65px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 15px;
}
.restaurants .resto-container .resto-card-content {
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .resto-container .resto-card-content h4 {
  font-size: 18px;
}
.restaurants .resto-container .resto-card-content p {
  font-size: 17px;
}
.restaurants .resto-container .resto-card-content .resto-card-text {
  line-height: 22px;
}
.restaurants .resto-container .resto-card-content .favori {
  padding: 5px 10px;
}
.restaurants .resto-container .resto-card-content .fa-heart {
  font-size: 25px;
}
.restaurants .resto-container .resto-card-content .fa-solid.fa-heart {
  display: inline-block;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/***** Footer *****/
.footer {
  background-color: #353535;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer h3,
.footer a {
  color: #FFFFFF;
}
.footer h3 {
  font-family: shrikhand;
  font-weight: 200;
  font-size: 18px;
  padding: 15px 20px;
}
.footer li {
  padding: 5px 20px;
}
.footer .fa-solid {
  padding-right: 10px;
}